.body{
    position: relative;
    background-color: #232323;
    height: 100vh;
    width: 100%;
}
.editor_header{
    position: relative;
    background-color: #2c2c2c;
    height: 8%;
    width: 100%;  
    display: flex;
    justify-content: space-between;
}
.editor_header_logo_container{
    /* background-color: aqua; */
    height : 100%;
    width : 18%;
    border-left: 1px solid #232323; /* 왼쪽 테두리 색상 및 두께 설정 */
    border-right: 1px solid #232323; /* 오른쪽 테두리 색상 및 두께 설정 */
    display: flex;
}
.editor_header_tool_container{
    /* background-color: aqua; */
    height : 100%;
    width : 18%;
    border-left: 1px solid #232323; /* 왼쪽 테두리 색상 및 두께 설정 */
    border-right: 1px solid #232323; /* 오른쪽 테두리 색상 및 두께 설정 */
    display: flex;
}
.editor_header_button_container{
    /* background-color: aqua; */
    height : 100%;
    width : 18%;

    display: flex;
    justify-content: end;
}
.editor_header_tool_container_btn{
    /* background-color: aqua; */
    height : 100%;
    width : 33.3%;
    border-left: 1px solid #232323; /* 왼쪽 테두리 색상 및 두께 설정 */
    border-right: 1px solid #232323; /* 오른쪽 테두리 색상 및 두께 설정 */
    cursor: pointer;
}
.editor_header_tool_container_btn:hover{
    /* background-color: aqua; */
    filter: brightness(120%);
    background-color: #2c2c2c;
}
#add-textbox-button{
    height : 100%;
    width : 33.3%;
    border-left: 1px solid #232323; /* 왼쪽 테두리 색상 및 두께 설정 */
    border-right: 1px solid #232323; /* 오른쪽 테두리 색상 및 두께 설정 */
    cursor: pointer;
}
#add-textbox-button:hover{
    /* background-color: aqua; */
    filter: brightness(120%);
    background-color: #2c2c2c;
}
#add-image-shape-button{
    height : 100%;
    width : 33.3%;
    border-left: 1px solid #232323; /* 왼쪽 테두리 색상 및 두께 설정 */
    border-right: 1px solid #232323; /* 오른쪽 테두리 색상 및 두께 설정 */
    cursor: pointer;
}
#add-image-shape-button:hover{
    /* background-color: aqua; */
    filter: brightness(120%);
    background-color: #2c2c2c;
}
.editor_body{
    position: relative;
    /* background-color: red; */
    height: 92%;
    width: 100%;  
    display: flex;
}
.editor_body_toolbox{
    position: absolute;

    background-color: rgba(255, 255, 255, 0.112);
    width: 28%;
    height : 11%;
    top: 5.6%;
    left: 50%;
    transform: translate(-50%, -50%);
    display : flex;
}
.editor_body_toolbox_cover{
    position: absolute;
    background-color: #232323;
    width: 30%;
    height : 12%;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#add-button{
    background-color: rgb(205, 205, 205);
    border: none;
    width: 14%;
    height: 80%;
    margin-top: 1.7%;
    margin-left: 2%;
    cursor: pointer;
}
#add-circle-button{
    background-color: rgb(205, 205, 205);
    border: none;
    width: 14%;
    height: 80%;
    margin-top: 1.7%;
    margin-left: 4%;
    cursor: pointer;
    border-radius: 50%;
}
#add-triangle-button{
    width: 19%;
    height: 100%;
    cursor: pointer;
}

.editor_body_left{
    background-color: #2c2c2c;
    height: 100%;
    width: 13%;  
}
.editor_body_center{
    /* position: relative; */
    /* background-color: red; */
    height: 100%;
    width: 74%;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.canvas_container{
    background-color: #ffffff;
    width: 1000px;
    height : 500px;
}
.editor_body_right{
    background-color: #2c2c2c;
    height: 100%;
    width: 13%;  
}