.body{
    position: relative;
    background-color: #232323;
    height: 100vh;
    width: 100%;
}
.editor_header{
    position: relative;
    background-color: #2c2c2c;
    height: 8%;
    width: 100%;  
    display: flex;
    justify-content: space-between;
}
.editor_header_logo_container{
    /* background-color: aqua; */
    height : 100%;
    width : 18%;
    border-left: 1px solid #232323; /* 왼쪽 테두리 색상 및 두께 설정 */
    border-right: 1px solid #232323; /* 오른쪽 테두리 색상 및 두께 설정 */
    display: flex;
}
.editor_header_tool_container{
    /* background-color: aqua; */
    height : 100%;
    width : 18%;
    border-left: 1px solid #232323; /* 왼쪽 테두리 색상 및 두께 설정 */
    border-right: 1px solid #232323; /* 오른쪽 테두리 색상 및 두께 설정 */
    display: flex;
}
.editor_header_button_container{
    /* background-color: aqua; */
    height : 100%;
    width : 18%;

    display: flex;
    justify-content: end;
}
.editor_header_tool_container_btn{
    /* background-color: aqua; */
    height : 100%;
    width : 33.3%;
    border-left: 1px solid #232323; /* 왼쪽 테두리 색상 및 두께 설정 */
    border-right: 1px solid #232323; /* 오른쪽 테두리 색상 및 두께 설정 */
    cursor: pointer;
}
.editor_header_tool_container_btn:hover{
    /* background-color: aqua; */
    filter: brightness(120%);
    background-color: #2c2c2c;
}
#add-textbox-button{
    height : 100%;
    width : 33.3%;
    border-left: 1px solid #232323; /* 왼쪽 테두리 색상 및 두께 설정 */
    border-right: 1px solid #232323; /* 오른쪽 테두리 색상 및 두께 설정 */
    cursor: pointer;
}
#add-textbox-button:hover{
    /* background-color: aqua; */
    filter: brightness(120%);
    background-color: #2c2c2c;
}
#add-image-shape-button{
    height : 100%;
    width : 33.3%;
    border-left: 1px solid #232323; /* 왼쪽 테두리 색상 및 두께 설정 */
    border-right: 1px solid #232323; /* 오른쪽 테두리 색상 및 두께 설정 */
    cursor: pointer;
}
#add-image-shape-button:hover{
    /* background-color: aqua; */
    filter: brightness(120%);
    background-color: #2c2c2c;
}
.editor_body{
    position: relative;
    /* background-color: red; */
    height: 92%;
    width: 100%;  
    display: flex;
}
.editor_body_toolbox{
    position: absolute;

    background-color: rgba(255, 255, 255, 0.112);
    width: 28%;
    height : 11%;
    top: 5.6%;
    left: 50%;
    transform: translate(-50%, -50%);
    display : flex;
}
.editor_body_toolbox_cover{
    position: absolute;
    background-color: #232323;
    width: 30%;
    height : 12%;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#add-button{
    background-color: rgb(205, 205, 205);
    border: none;
    width: 14%;
    height: 80%;
    margin-top: 1.7%;
    margin-left: 2%;
    cursor: pointer;
}
#add-circle-button{
    background-color: rgb(205, 205, 205);
    border: none;
    width: 14%;
    height: 80%;
    margin-top: 1.7%;
    margin-left: 4%;
    cursor: pointer;
    border-radius: 50%;
}
#add-triangle-button{
    width: 19%;
    height: 100%;
    cursor: pointer;
}

.editor_body_left{
    background-color: #2c2c2c;
    height: 100%;
    width: 13%;  
}
.editor_body_center{
    /* position: relative; */
    /* background-color: red; */
    height: 100%;
    width: 74%;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.canvas_container{
    background-color: #ffffff;
    width: 1000px;
    height : 500px;
}
.editor_body_right{
    background-color: #2c2c2c;
    height: 100%;
    width: 13%;  
}
.editor_body_right_size_container{
    /* background-color: blue; */
    width: 90%;
    height : 8%;
    margin-left : 5%;
    margin-top: 5%;
    border-bottom: 2px solid #232323;

}
.editor_body_right_size_container_title{
    font-size: 13px;
    color: #ffffff;
}
.editor_body_right_size_container_info_container{
    /* background-color: red; */
    width: 100%;
    height:40%;
    margin-top: 5%;
    display: flex;
}
.editor_body_right_size_container_info_container_title_1{
    /* background-color: green; */
    width: 10%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}
.editor_body_right_size_container_info_container_info_1{
    background-color: #232323;
    width: 37%;
    height:100%;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-size: 12px;
    font-weight: bold;

    margin-left: 1%;
}
.editor_body_right_size_container_info_container_title_2{
    /* background-color: green; */
    width: 10%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-size: 12px;
    font-weight: bold;

    margin-left: 4%;
}
.editor_body_right_size_container_info_container_info_2{
    background-color: #232323;
    width: 37%;
    height:100%;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-size: 12px;
    font-weight: bold;

    margin-left: 1%;
}

/*@@@@@@@@@@@*/
.editor_body_right_location_container{
    /* background-color: blue; */
    width: 90%;
    height : 8%;
    margin-left : 5%;
    margin-top: 5%;
    border-bottom: 2px solid #232323;

}
.editor_body_right_location_container_title{
    font-size: 13px;
    color: #ffffff;
}
.editor_body_right_location_container_info_container{
    /* background-color: red; */
    width: 100%;
    height:40%;
    margin-top: 5%;
    display: flex;
}
.editor_body_right_location_container_info_container_title_1{
    /* background-color: green; */
    width: 10%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}
.editor_body_right_location_container_info_container_info_1{
    background-color: #232323;
    width: 37%;
    height:100%;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-size: 12px;
    font-weight: bold;

    margin-left: 1%;
}
.editor_body_right_location_container_info_container_title_2{
    /* background-color: green; */
    width: 10%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-size: 12px;
    font-weight: bold;

    margin-left: 4%;
}
.editor_body_right_location_container_info_container_info_2{
    background-color: #232323;
    width: 37%;
    height:100%;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-size: 12px;
    font-weight: bold;

    margin-left: 1%;
}

/*@@@@@@@@@@@*/
.editor_body_right_order_container{
    /* background-color: blue; */
    width: 90%;
    height : 8%;
    margin-left : 5%;
    margin-top: 5%;
    border-bottom: 2px solid #232323;

}
.editor_body_right_order_container_title{
    font-size: 13px;
    color: #ffffff;
}
.editor_body_right_order_container_info_container{
    /* background-color: red; */
    width: 100%;
    height:40%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.editor_body_right_order_container_info_container button{
    background-color: #232323;

    width: 49%;
    height: 100%;
    font-size: 10px;
    color: #ffffff;

    border: none;
    border-radius: 5px;

}
.editor_body_right_order_container_info_container button:hover{
    background-color: #313131;
    cursor: pointer;
}

.editor_body_right_style_container{
    /* background-color: blue; */
    width: 90%;
    height : 65%;
    margin-left : 5%;
    margin-top: 5%;
    border-bottom: 2px solid #232323;

}
.editor_body_right_style_container_title{
    font-size: 13px;
    color: #ffffff;
}
.editor_body_right_style_container_1_info_container{
    /* background-color: red; */
    width: 100%;
    height:5.5%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.editor_body_right_style_container_1_info_container_title{
    font-size: 10px;
    color : #626262;
    display: flex;
    justify-content: center;
    align-items: center;
}
.editor_body_right_style_container_1_info_container_btn{
    width: 40%;
    height:100%;
    display: flex;
    /* background-color: aqua; */
}
#radius-input{
    background-color: #232323;
    width: 50%;
    text-align : center;

    outline: none;
    border: none;
    border-radius: 5px 0px 0px 5px;
    color: #ffffff;

    font-size: 10px;
}
#change-radius-input-button{
    background-color: rgb(63, 63, 63);
    width: 50%;
    text-align : center;

    outline: none;
    border: 1px solid #232323;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;

    font-size: 10px;
    color: #ffffff;
}
#borderwidth-input{
    background-color: #232323;
    width: 50%;
    text-align : center;

    outline: none;
    border: none;
    border-radius: 5px 0px 0px 5px;
    color: #ffffff;

    font-size: 10px;
}
#change-borderwidth-input-button{
    background-color: rgb(63, 63, 63);
    width: 50%;
    text-align : center;

    outline: none;
    border: 1px solid #232323;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;

    font-size: 10px;
    color: #ffffff;
}
.editor_body_right_style_container_info_container_2{
    /* background-color: red; */
    width: 100%;
    height:90%;
    margin-top: 5%;
}   
.editor_body_right_style_container_2_info_container{
    display: flex;
    /* background-color: aqua; */
    height: 5.5%;
    margin-top: 5%;
    justify-content: space-between;
}
.editor_body_right_style_container_2_info_container_title{
    font-size: 10px;
    color : #626262;
    display: flex;
    justify-content: center;
    align-items: center;
}
.editor_body_right_style_container_2_info_container_frame{
    height: 100%;
    width: 50%;
    /* background-color: red; */
    display: flex;
}
.editor_body_right_style_container_2_info_container_info{
    position: relative;
    height: 100%;
    width: 70%;
    border: none;

    text-align: center;
    background-color: #232323;
    font-size: 10px;
    color: #ffffff;
    border-radius: 5px 0px 0px 5px;
}
.editor_select_color_btn{
    background: linear-gradient(135deg, red,orange,yellow,green,blue,navy,purple);
    height: 100%;
    width: 30%;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
.color_controller1{
    position: absolute;
    /* background-color: rgb(106, 255, 0); */
    width: 11.6%;
    height: 25%;
    margin-top: -13%;
}
.color_controller1 .react-colorful {
    padding: 6%;
    border-radius: 5px;
    /* background: #232323; */
    background: #ffffff;

    width: 88%;
    height: 90%;
    cursor: pointer;
}

.color_controller1 .react-colorful__saturation {
    margin: 5% 0;
    border-radius: 5px;
    border-bottom: none;
}

.color_controller1 .react-colorful__hue {
    order: -1;
}
.color_controller1 .react-colorful__saturation-pointer {
    width: 15px;
    height: 15px;
}
.color_controller1 .react-colorful__hue,
.color_controller1 .react-colorful__alpha {
    height: 10%;
    border-radius: 5px;
}

.color_controller1 .react-colorful__hue-pointer,
.color_controller1 .react-colorful__alpha-pointer {
    width: 10%;
    height: 100%;
}
.color_controller2{
    position: absolute;
    /* background-color: rgb(106, 255, 0); */
    width: 11.6%;
    height: 25%;
    margin-top: -13%;
}
.color_controller2 .react-colorful {
    padding: 6%;
    border-radius: 5px;
    /* background: #232323; */
    background: #ffffff;

    width: 88%;
    height: 90%;
    cursor: pointer;
}

.color_controller2 .react-colorful__saturation {
    margin: 5% 0;
    border-radius: 5px;
    border-bottom: none;
}

.color_controller2 .react-colorful__hue {
    order: -1;
}
.color_controller2 .react-colorful__saturation-pointer {
    width: 15px;
    height: 15px;
}
.color_controller2 .react-colorful__hue,
.color_controller2 .react-colorful__alpha {
    height: 10%;
    border-radius: 5px;
}

.color_controller2 .react-colorful__hue-pointer,
.color_controller2 .react-colorful__alpha-pointer {
    width: 10%;
    height: 100%;
}
