.animation-container {
  position: absolute;
  background-color: rgb(63, 63, 63);
  width: 35%;
  height: 13.5%;
  z-index: 2;

  top: 15%;
  left: 50.05%;
  transform: translate(-50%, -50%);

  flex-wrap: wrap;
}
.animation-container button {
  background-color: #232323;
  width: 125.3px;
  height: 25px;
  margin-top: 6.5px;
  margin-left: 6px;
  border-radius: 3px;
  border: none;
  font-size: 10px;
  color: white;
}
.animation-container button:hover {
  filter: brightness(90%);
  cursor: pointer;
  color: grey;
}
