.splash_container {
    background-color: #2c2c2c;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
  
.splash_container  {
    text-align: center;
}
  
.splash_container_text {
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }